@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <div class="home-content">
        <h2>Access Denied</h2>
        <p>You do not have permission to access this resource.</p>
    </div>
</div>
